<div class="box">
  <p class="p1">广东移动流量充值</p>
  <form class="forms">
    <div class="forms-i">
      <label><img src="/images/input.jpg" /></label><input id="mobile" class="int" maxlength="11" type="tel" placeholder="手机号码" />
    </div>
  </form>
  <div class="con">
    <div class="llb">
    </div>
    <div class="subimts"><a>充值</a></div>
    <div class="careful">
      <h4>广东移动省内通用的注意事项为：</h4>
      <p>
      1，【流量类型】：广东移动省内通用流量，限广东移动号码充值。<br>
      2，【注意事项】：限广东移动号码充值，限广东省内使用，有限期20天（月租、月底不清零）<br>
      3，【到账时间】：即时到账，务必填写正确手机号码。<br>
      4，【失败退款】：系统自动退款，见微信退款通知。<br>
      5，【特殊情况】：欠费号码不能充值，充值前请确保号码正常使用，非广东移动号码不能充值。<br>
      </p>
      <h4>广东移动国内通用的注意事项为：</h4>
      <p>
      1，【流量类型】：广东移动国内通用流量，限广东移动号码充值。<br>
      2，【注意事项】：限广东移动号码充值，可在国内使用，有限期至当月月底（月租不清零）<br>
      3，【到账时间】：即时到账，务必填写正确手机号码。<br>
      4，【失败退款】：系统自动退款，见微信退款通知。<br>
      5，【特殊情况】：欠费号码不能充值，充值前请确保号码正常使用，非广东移动号码不能充值。<br>
      </p>
    </div>
  </div>
</div>
{{#iflt 190 customer.id }}
  <a href="http://dwz.cn/341ioz">
    <img class="app-guide1" src="/images/my-logo.png">
  </a>
{{/iflt}}
{{> alertmodal }}
{{> extractConfirm }}
{{> loading }}

<script id="trafficplans-template" type="text/x-handlebars-template">
<ul class="nav nav-tabs" role="tablist">
  \{{#each trafficgroups}}
    <li role="presentation" class="\{{#if @first }}active\{{/if}} nopadding col-xs-6 col-lg-6">
      <a class="text-center" href="#group-\{{name}}" style=":hover {color: gray}" aria-controls="main" role="tab" data-toggle="tab">\{{name}}</a>
    </li>
  \{{/each}}
</ul>
<div class="tab-content">
  \{{#each trafficgroups}}
    <ul id="group-\{{name}}" role="tabpanel" class="tab tab-pane \{{#if @first }}active in \{{/if}} fade container-fluid">
    \{{#each trafficplans}}
      <li \{{#if_all @../first @first }}class="curr"\{{/if_all}}>
      <a class="exchanger \{{#if_all @../first @first }}choose\{{/if_all}}" data-name="\{{name}}" data-value="\{{id}}" data-cost="\{{cost}}">\{{name}}</a>
      </li>
    \{{/each}}
    </ul>
  \{{/each}}
</div>
\{{#each trafficgroups}}
  <div class="price">
  \{{#each trafficplans}}
    <p \{{#if_all @../first @first }}class="curr"\{{/if_all}} id="price-\{{id}}">价格：￥\{{cost}}</p>
  \{{/each}}
  </div>
\{{/each}}
</script>

<script id="err-template" type="text/x-handlebars-template">
<div class="container-fluid" style="padding-top: 10px;">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-sm-8">
      <div class="panel panel-info">
        <div class="panel-body">
            <h5 class="no_data_found_h">
              \{{msg}}
            </h5>
        </div>
      </div>
    </div>
  </div>
</div>
</script>